/* Oma Css tiedosto hakemistolle */


body{
	width:100%;
	height:100%;
	background-color:#000000;
}
h1{
	font-family: "Times New Roman", Times, serif;
	word-wrap: break-word;
	margin:0;
	margin-bottom:15px;
	padding:0;
}
h2{
	font-family: "Times New Roman", Times, serif;
	word-wrap: break-word;
	margin:0;
	margin-bottom:5px;
	padding:0;
}
a img{
	width:50%;
	height:50%;
	padding-bottom:5px;
	border-bottom:2px solid #000000;
	max-height:300px;
	max-width:300px;
}
.container-fluid{
	min-width:410px;
}
.pls{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}
.bodycontainer{
	height:100%;
	width:100%;
	padding-left:10%;
	padding-right:10%;
	padding-top:0;
	padding-bottom:3%;
	background-color:#000000;
	background-image: url("../images/taustakuva.png"); /* CONTAINERIN TAUSTAKUVA */
	background-repeat: repeat-y;
}
.ha-1{
	background-color:#08143D;
	color:#ffffff;
	width:100%;
	padding-left:0;
	padding-right:0;
	text-align:center;
}

.ha-2{
	background-color:#5A2D01;
	color:#ffffff;
	width:100%;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
.ha-3{
	background-color:#014410;
	color:#ffffff;
	width:100%;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
.col-sm-3{
	padding:0;
	margin:0;
}
.contentblock {
	margin:8px;
}
.defaultborder{
	border:solid;
	border-color:#000000;
	border-width:1px;
	border-collapse:collapse;
}
.footer {
  width: 100%;
  height: 12%;
  min-height:80px;
  background-color: #000000;
}
.footerrow{
	text-align:left;
	font-style:italic;
	font-size:11px;
	margin-right:5px;
	margin-left:5px;
}
.footer .col-sm-3 {
	padding-left: 5px;
	border-right: solid;
	border-color: #111111;
	border-width: 1px;
}
.footer p{
	margin-top:0;
	margin-bottom:0;
	color:#aa0000;
}
.text-muted {
	padding-top:10px;
	padding-bottom:10px;
}
.navbutton p {
	color:#18c900;
}