@import url(http://fonts.googleapis.com/css?family=VT323);

$highlight: rgb(0,255,128);
$quoteText: darken($highlight, 40%);
$font: "M+ 1mn", "VT323", monospace;
// Get this ^ font.
// Seriously. It's the best.

footer {
  background-color: rgb(12,10,14);
  font-family: $font;
  font-size: 2.2vmax;
  line-height: 1.75em;
  overflow: hidden;
}
.quote {
  cursor: default;
  color: $quoteText;
  margin: 0 auto 0;
  max-width: 82vw;
  perspective: 1000vmin;
  width: 33rem;
}
.quote span {
  border-radius: 0.3em;
  display: inline-block;
  padding: 0 0.25em;
  margin: 0.1em 0.1em;
  transform: translateZ(-500vmin) rotateX(90deg);
  transition:
    background 2s ease-in,
    color 5s ease-out,
    text-shadow 0.5s ease-out,
    transform 15s ease-in;
}
.quote .highlight, .quote span:hover {
  background: rgba($highlight,0.1);
  color: lighten($highlight,25%);
  text-shadow: 0 0 0.6em rgba($highlight,1);
  transform: translateZ(0) rotateX(0deg);
  transform-origin: 50% 100%;
  transition: all 0.3s ease-out;
  z-index: 9001;
}
